<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(arg robot_name)_params.xacro" />

    <xacro:macro name="robot_ros2_control">

        <!-- Case: Simulated hardware -->
        <xacro:if value="$(arg simulate)">
            <ros2_control name="GazeboSystem" type="system">
                <hardware>
                    <plugin>gz_ros2_control/GazeboSimSystem</plugin>
                </hardware>
                <joint name="wheel_l_joint">
                    <command_interface name="velocity">
                        <param name="min">-10</param>
                        <param name="max">10</param>
                    </command_interface>
                    <state_interface name="position" />
                    <state_interface name="velocity" />
                </joint>
                <joint name="wheel_r_joint">
                    <command_interface name="velocity">
                        <param name="min">-10</param>
                        <param name="max">10</param>
                    </command_interface>
                    <state_interface name="position" />
                    <state_interface name="velocity" />
                </joint>
            </ros2_control>
        </xacro:if>

        <!-- Case: real hardware -->
        <xacro:unless value="$(arg simulate)">
            <ros2_control  name="ElegooSystem" type="system">
            <hardware>
                <plugin>ruche_ros2_control/ElegooBt2SerialHardware</plugin>
                <param name="left_wheel_name">wheel_l_joint</param>
                <param name="right_wheel_name">wheel_r_joint</param>
            </hardware>
            <joint name="wheel_l_joint">
                <command_interface name="velocity"/>
                    <param name="min">-10</param>
                    <param name="max">10</param>
                <!-- No state interface are provided, but declared to start the joint_state_broadcaster -->
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
            <joint name="wheel_r_joint">
                <command_interface name="velocity"/>
                    <param name="min">-10</param>
                    <param name="max">10</param>
                <!-- No state interface are provided, but declared to start the joint_state_broadcaster -->
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
            </ros2_control>
        </xacro:unless>
    </xacro:macro>

</robot>