---
name: Linode Push Update

on:
  push:
    branches:
      - main
      - 25-feat-automatically-push-main-branch-to-huggingface # Only for test

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
  steps:
    - name: Prepare ssh keys
      uses: shimataro/ssh-key-action@v2
      with:
        key: ${{ secrets.LINODE_KEY }}
        known_hosts: ${{ secrets.LINODE_KNOWN_HOSTS }}

    - name: Checkout the Repo
      uses: actions/checkout@v2
      with:
        ssh-key: ${{ secrets.LINODE_KEY }}
        fetch-depth: 0
        ref: master

    - name: Push to Linode
      run: |
        git config user.name github-actions
        git config user.email github-actions@github.com
        git remote add prod ssh://[username]@[host]:/var/repos/[remote-repo-name].git
        git push prod
# EOF
