---

name: Sync to Hugging Face Hub

# References:
# - https://huggingface.co/docs/hub/spaces-github-actions
# - https://huggingface.co/docs/hub/security-git-ssh

on:
  push:
    branches:
      - main
      - 25-feat-automatically-push-main-branch-to-huggingface # Only for test

  # to run this workflow manually from the Actions tab
  workflow_dispatch:
    
# permissions: {}

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest

    # permissions:
    #   contents: read
    #   packages: read
    #   # To report GitHub Actions status checks
    #   statuses: write

    steps:
      # - name: Prepare ssh keys
      #   uses: shimataro/ssh-key-action@v2
      #   with:
      #     key: ${{ secrets.LINODE_KEY }}
      #     known_hosts: ${{ secrets.LINODE_KNOWN_HOSTS }}

      - name: Checkout the Repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          lfs: true
          # ssh-key: ${{ secrets.LINODE_KEY }}
          # ref: master

      - name: Extract branch name
        shell: bash
        run: echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
        id: extract_branch

      - name: Push to hub
        env:
          HF_USERNAME: "gmacario" # TODO: Use secrets
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          HF_ORGNAME: "" # TODO: Use secrets
          HF_SPACENAME: "RUCHE" # TODO: Use secrets
          BRANCH_NAME: ${{ github.head_ref || github.ref_name }} 
        run: git push https://$HF_USERNAME:$HF_TOKEN@huggingface.co/spaces/$HF_ORGNAME/$HF_SPACENAME $BRANCH_NAME

      # - name: Push to Linode
      #   run: |
      #     git config user.name github-actions
      #     git config user.email github-actions@github.com
      #     git remote add prod ssh://[username]@[host]:/var/repos/[remote-repo-name].git
      #     git push prod

# EOF
